<h2>Checkout</h2>

<form [formGroup]="form" (submit)="processForm()">
  <table>
    <tr>
      <td>Name: </td>
      <td>
        <input type="text" size="30" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>Address: </td>
      <td>
        <input type="text" size="30" formControlName="address">
      </td>
    </tr>
    <tr>
      <td>Priority: </td>
      <td>
        <input type="checkbox" formControlName="priority">
      </td>
    </tr>
    <tr>
      <td>Comments: </td>
      <td>
        <textarea cols="30" rows="4" formControlName="comments"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="!form.valid">Place Order</button>
      </td>
    </tr>
  </table>
</form>

<hr>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of this.items ">
      <td> {{x.name}} </td>
      <td> {{x.price | currency:"INR"}} </td>
      <td> {{x.quantity}} </td>
    </tr>
  </tbody>
  <tfoot>
    <td></td>
    <td>Total: </td>
    <td> {{total | currency:"INR" }} </td>
  </tfoot>
</table>
